.login {
    width: 120px;
}

.centrado {
    margin-top: 100px;
    text-align: center;
}

.access-button {
    height: 12em;
}

.header-img{
    max-width: 100%;
    height: auto;
}

.profile-img {
    max-height: 200px;
    height: auto;
}

.roles {
    margin-top: 32px;
}